version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: auth_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecurepassword
      POSTGRES_DB: auth_api
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  auth-api:
    build: .
    container_name: auth_api_service
    restart: always
    env_file:
      - .env
    ports:
      - "4000:4000"
    depends_on:
      - postgres

volumes:
  postgres_data: